
button {
  margin-right: 10px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.updateBtn {
  color: white;
  background-color: green;
}

.signalTitle {
  color: orange;
}

.signalBtn {
  color: white;
  background-color: orange;
}

.manualTitle {
  color: blue;
}

.manualBtn {
  color: white;
  background-color: blue;
}
