<h1>Angular 18</h1>
<nav>
  <ul>
    <li><a routerLink="/zone-less" routerLinkActive="active" ariaCurrentWhenActive="page">Zone less</a></li>
    <li><a routerLink="/deferrable-views" routerLinkActive="active" ariaCurrentWhenActive="page">Deferrable views</a></li>
    <li><a routerLink="/signal-api" routerLinkActive="active" ariaCurrentWhenActive="page">Signal API's</a></li>
    <li><a routerLink="/control-flow" routerLinkActive="active" ariaCurrentWhenActive="page">Built-in control flow</a></li>
  </ul>
</nav>
<hr>
<router-outlet></router-outlet>
